<div id="{{title}}">
  <img src="{{poster_url}}">
  <span>{{title}}</span><br>
  <span>{{director}}</span><br>
  <span>{{cast}}</span><br>
  <span>{{year_released}}</span><br>
  <span>{{plot_summary}}</span><br>
  <span>{{rating}}</span><br>
  <span><a href="http://www.canistream.it/search/{{media_type}}/{{title}}">Where Can I See It?</a></span>
  <button id="recommend">"Recommend"</button>
</div>
