<div id="{{title}}">
  <button class="close">Close</button><br>
  <div class="image">
    <img class="show" src="{{poster_url}}">
  </div>
  <div class="rec-details">
    <span class="title"><u><b>{{title}}</b></u></span><br>
    <span><b>Directed by:</b> {{director}}</span><br>
    <span><b>Cast:</b> {{cast}}</span><br>
    <span><b>Year:</b> {{year_released}}</span><br>
    <span><b>TMDB Rating:</b> {{rating}}</span>
  </div>
  <div class="plot-summary">
    <span><b>Plot Summary:</b> {{plot_summary}}</span>
  </div>
  <div class="buttons">
    <span><a href="http://www.canistream.it/search/{{media_type}}/{{title}}" target="_blank">Where Can I See It?</a></span>
    <button class="finished">Finished Rec!</button>
    <button class="reject">Just Can't Do It</button>
  </div>
  <div class="finish">
    <span>Give it a rating!<input id="scale" placeholder="Scale of 1-10"></span><br>
    <button class="submit-finished">Finish!</button>
  </div>
</div>
