<div id="{{title}}">
  <img src="{{poster_url}}">
  <span>{{title}}</span><br>
  <span>{{director}}</span><br>
  <span>{{cast}}</span><br>
  <span>{{year_released}}</span><br>
  <span>{{plot_summary}}</span><br>
  <span>{{rating}}</span><br>
  <button name="recommend">"Recommend this movie"</button>
</div>
