<div id="{{title}}">
  <div class="friend-search-modal">
    <button class="close">Close</button>
    <h6>Recommend <b>{{title}}</b> to:</h6>
  </div>
  <div class="thumbnail">
    <img class="thumbnail" src="{{poster_url}}">
  </div>
  <div class="search-result-content">
    <span><b>Title:</b> {{title}}</span><br>
    <span><b>Cast:</b> {{cast}}</span><br>
    <button id="recommend">Recommend</button>
  </div>
</div>
