<div data-id="{{id}}">
  <span class="thumbnail">
    {{#if sender.image}}
      <span><img class="user-image" src="{{sender.image}}"></span>
    {{elseif}}
      <span><img class="user-image" src="{{avatar.url}}"></span>
    {{else}}
      <span><img class="user-image" src="http://i.imgur.com/yiAFdv2.png"></span>
    {{/if}}
  </span>
  <span>{{sender.first_name}} {{sender.last_name}}</span>
  <button class="add-friend">Accept Friend Request</button>
  <button class="delete-request">Deny Friend Request</button>
</div>
