<div id="{{title}}">
  <div id="friend-search-modal">
    <button class="close">Close</button>
    <h3>Select A Friend to Recommend {{title}}</h3>
  </div>
  {{#if this.author}}
    <div class="thumbnail">
      <img class="thumbnail" src="{{cover_url}}">
    </div>
    <div class="search-result-content">
      <span><b>Title:</b> {{title}}</span><br>
      <span><b>Author:</b> {{author}}</span><br>
      <button id="recommend">"Recommend this book"</button>
    </div>
  {{else}}
    <span>{{title}}</span>
  {{/if}}
</div>
