<div id="{{id}}">
  <div class="rec-thumbnail">
    <img class="thumbnail" src="{{cover_url}}">
  </div>
  <div class="recommendation-content">
    <span>{{title}}</span><br>
    <span>Recommended By: {{recommendor.first_name}} {{recommendor.last_name}}</span>
  </div>
</div>
