<div id="{{title}}">
  <button class="close">Close</button><br>
  <div class="image">
    <img class="show" src="{{cover_url}}"><br>
  </div>
  <div class="rec-details">
    <span class="title"><u><b>{{title}}</b></u></span><br>
    <span><b>Author:</b> {{author}}</span><br>
    <span><b>Year:</b> {{year_published}}</span><br>
  </div>
  <div class="plot-summary">
    <span><b>Plot Summary:</b> {{plot_summary}}</span>
  </div>
  <div class="buttons">
    <span><a href="{{amazon_purchase_link}}" target="_blank">Get it on your Kindle!</a></span>
    <button class="finished">Finished Rec!</button>
    <button class="reject">Just Can't Do It</button>
  </div>
  <div class="finish">
    <span>Give it a rating!<input id="some_name" placeholder="Scale of 1-10"></span>
    <button class="submit-finished">Finish!</button>
  </div>
</div>
