<div id="{{title}}">
  {{#if this.author}}
    <img class="thumbnail" src="{{cover_url}}">
    <span>Title: {{title}}</span><br>
    <span>Author: {{author}}</span><br>
    <button id="recommend">"Recommend this book"</button>
  {{else}}
    <span>{{title}}</span>
  {{/if}}
</div>
