<div id="{{id}}">

  <img src="{{cover_url}}"><br>
  <span>{{title}}</span><br>
  <span>{{author}}</span><br>
  <span>{{year_published}}</span><br>
  <span>{{plot_summary}}</span><br>
  <span><a href="{{amazon_url}}">Get it on your Kindle!</a></span><br>
  <span>Recommended By: {{recommendor_id}}</span><br>
  <!-- {{#if this.message}} -->
    <span>{{message}}</span>
  <!-- {{/if}} -->
  <span>{{created_at}}</span>
</div>
