<div id="{{title}}">
  <img src="{{cover_url}}">
  <span>{{title}}</span><br>
  <span>{{author}}</span><br>
  <span>{{year_published}}</span><br>
  <span>{{plot_summary}}</span><br>
  <button name="recommend">"Recommend this book"</button>
</div>
